body {
  margin: 0px;
  padding: 36px 0px 0px;
  font-family: Onest, sans-serif, Helvetica;
  line-height: 1.2;
  text-size-adjust: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: rgb(245, 245, 245);
}

body * {
  box-sizing: border-box;
}

a {
  color: rgb(15, 23, 42);
}

a, button:not(.initial), img {
  outline: none;
  text-decoration: none;
}

a, button {
  cursor: pointer;
  background: none;
  margin: 0px;
}

.header {
  margin: 3rem 0;
}

.header .logo-container {
  width: 170px;
  margin: 0 auto;
}

.logo-container > .sub-logo-text {
  font-size: 10px;
  color: #848484;
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
}
.header .logo-container svg{
  width: 170px;
  height: 48px;
}
.header h4.title {
  margin: 0;
  color:#939393;
  font-weight: 300;
  font-size: 10px;
}
